/* ----------------------------------
 * Theme du projet (valeurs primitives)
 * ----------------------------------
 */

/* stylelint-disable */
/* Breakpoints custom (si compatibles) */
@custom-media --md (width >= 48rem);
@custom-media --lg (width >= 64rem);
@custom-media --xl (width >= 80rem);
@custom-media --xxl (width >= 96rem);
@custom-media --until-md (width < 48rem);
@custom-media --until-lg (width < 64rem);
@custom-media --until-xl (width < 80rem);
@custom-media --until-xxl (width < 96rem);
/* stylelint-enable */

:root {
  /* Breakpoints (en dur) */
  --md: 48rem; /* 768px */
  --lg: 64rem; /* 1024px */
  --xl: 80rem; /* 1280px */
  --xxl: 96rem; /* 1536px */

  /* Espacements */
  --spacing-0: 0;
  --spacing-1: 1px;
  --spacing-2: 0.125rem;
  --spacing-4: 0.25rem;
  --spacing-8: 0.5rem;
  --spacing-12: 0.75rem;
  --spacing-16: 1rem;
  --spacing-20: 1.25rem;
  --spacing-24: 1.5rem;
  --spacing-32: 2rem;
  --spacing-40: 2.5rem;
  --spacing-48: 3rem;
  --spacing-56: 3.5rem;
  --spacing-64: 4rem;
  --spacing-80: 5rem;
  --spacing-128: 8rem;
  --spacing-160: 10rem;

  /* Familles de police */
  --font-base: system-ui, sans-serif;
  --font-mono: ui-monospace, monospace;
  --font-poppins: poppins, sans-serif;

  /* Graisses de police */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;

  /* Tailles de police */
  --text-10: 0.625rem;
  --text-11: 0.6875rem;
  --text-12: 0.75rem;
  --text-13: 0.8rem;
  --text-14: 0.875rem;
  --text-15: 0.9375rem;
  --text-16: 1rem;
  --text-17: 1.0625rem;
  --text-18: 1.125rem;
  --text-20: 1.25rem;
  --text-24: 1.5rem;
  --text-30: 1.875rem;
  --text-32: 2rem;
  --text-36: 2.25rem;
  --text-40: 2.5rem;
  --text-48: 3rem;
  --text-60: 3.75rem;
  --text-80: 5rem;

  /* Interlignage (line-height) */
  --line-height-20: 1.25rem;
  --line-height-24: 1.5rem;
  --line-height-28: 1.75rem;
  --line-height-32: 2rem;
  --line-height-36: 2.25rem;
  --line-height-40: 2.5rem;
  --line-height-48: 3rem;
  --line-height-56: 3.5rem;
  --line-height-80: 5rem;
  --line-height-100: 6.25rem;

  /* Border radius */
  --radius-none: 0;
  --radius-s: 0.25rem;
  --radius-m: 0.5rem;
  --radius-l: 0.75rem;
  --radius-xl: 1rem;
  --radius-2xl: 1.5rem;
  --radius-full: 9999px;

  /* Transitions et animations */
  --transition-duration: 0.25s;

  /* Niveaux de z-index */
  --z-under-page-level: -1;
  --z-above-page-level: 1;
  --z-header-level: 1000;
  --z-above-header-level: 2000;
  --z-above-all-level: 3000;

  /* Couleurs (globales) */
  --color-gray-50: oklch(97% 0 0);
  --color-gray-100: oklch(92.2% 0 0);
  --color-gray-200: oklch(87% 0 0);
  --color-gray-300: oklch(70.8% 0 0);
  --color-gray-400: oklch(55.6% 0 0);
  --color-gray-500: oklch(43.9% 0 0);
  --color-gray-600: oklch(37.1% 0 0);
  --color-gray-700: oklch(26.9% 0 0);
  --color-gray-800: oklch(20.5% 0 0);
  --color-gray-900: oklch(14.5% 0 0);
  --color-white: oklch(100% 0 0);
  --color-black: oklch(0% 0 0);
  --color-error-100: oklch(97% 0.1 27.52);
  --color-error-300: oklch(70.54% 0.19 27.52);
  --color-error-500: oklch(50.54% 0.19 27.52);
  --color-error-700: oklch(35.54% 0.19 27.52);
  --color-error-900: oklch(20.54% 0.11 27.52);
  --color-success-100: oklch(94.462% 0.13 150.685);
  --color-success-300: oklch(71.66% 0.13 150.73);
  --color-success-500: oklch(51.66% 0.13 150.73);
  --color-success-700: oklch(36.66% 0.13 150.73);
  --color-success-900: oklch(21.66% 0.13 150.73);
  --color-warning-100: oklch(97% 0.08 49.95);
  --color-warning-300: oklch(83.15% 0.17 49.95);
  --color-warning-500: oklch(63.15% 0.17 49.95);
  --color-warning-700: oklch(48.15% 0.17 49.95);
  --color-warning-900: oklch(33.15% 0.11 49.95);
  --color-info-100: oklch(97% 0.09 256.37);
  --color-info-300: oklch(71.33% 0.18 256.37);
  --color-info-500: oklch(51.33% 0.18 256.37);
  --color-info-700: oklch(36.33% 0.18 256.37);
  --color-info-900: oklch(21.33% 0.11 256.37);

  /* Couleur projet placeholder : raspberry */
  --color-raspberry-100: oklch(98% 0.03 352);
  --color-raspberry-200: oklch(94.5% 0.12 352);
  --color-raspberry-300: oklch(84.5% 0.2 352);
  --color-raspberry-400: oklch(72.8281% 0.1971 352.001);
  --color-raspberry-500: oklch(64.5% 0.2 352);
  --color-raspberry-600: oklch(54.5% 0.2 352);
  --color-raspberry-700: oklch(44.5% 0.2 352);
}
