/* ----------------------------------
 * Theme-tokens, généré par primary.alsacreations.com
 * Surcouche de theme.css
 * Configuration :
 * - Couleur primaire : raspberry
 * - Theme : light uniquement
 * - Typographie responsive : non
 * - Espacements responsive : non
 * ----------------------------------
 */
:root {
  color-scheme: light;

  /* Couleur primaire */
  --primary: var(--color-raspberry-500);
  --on-primary: var(--color-white);

  /* Couleur d'accent */
  --accent: var(--primary);
  --accent-invert: var(--color-raspberry-300);

  /* Surface du document */
  --surface: var(--color-white);
  --on-surface: var(--color-gray-900);

  /* Niveaux de profondeur */
  --layer-1: var(--color-gray-50);
  --layer-2: var(--color-gray-100);
  --layer-3: var(--color-gray-200);

  /* Interactions */
  --link: var(--primary);
  --link-hover: var(--color-raspberry-700);

  /* Couleur de sélection */
  --selection: var(--color-raspberry-300);

  /* États */
  --warning: var(--color-warning-500);
  --error: var(--color-error-500);
  --success: var(--color-success-500);
  --info: var(--color-info-500);

  --border-light: var(--color-gray-100);
  --border-medium: var(--color-gray-300);

  /* Tailles de police */
  --text-s: var(--text-14);
  --text-m: var(--text-16);
  --text-l: var(--text-18);
  --text-xl: var(--text-20);
  --text-2xl: var(--text-24);
  --text-3xl: var(--text-30);
  --text-4xl: var(--text-48);

  /* Espacements */
  --gap-xs: var(--spacing-4);
  --gap-s: var(--spacing-8);
  --gap-m: var(--spacing-16);
  --gap-l: var(--spacing-24);
  --gap-xl: var(--spacing-32);
  --spacing-xs: var(--spacing-4);
  --spacing-s: var(--spacing-8);
  --spacing-m: var(--spacing-16);
  --spacing-l: var(--spacing-24);
  --spacing-xl: var(--spacing-32);

  /* Formulaires */
  --form-control-background: var(--color-gray-200);
  --on-form-control: var(--color-gray-900);
  --form-control-spacing: var(--spacing-12) var(--spacing-16);
  --form-control-border-width: 1px;
  --form-control-border-color: var(--color-gray-400);
  --form-control-border-radius: var(--radius-m);
  --checkables-border-color: var(--color-gray-400);
  --checkable-size: 1.25em;
}

*::selection {
  background: var(--color-raspberry-300);
}
