/* -----------------------/*
 * Layouts CSS "Bretzel"
 * Made par Alsacréations
 * Ressources et documentation : http://bretzel.alsacreations.com/
 * Consignes : à placer dans un layer entre `reset` et `components`
 /* ---------------------- */

/* Layout-small */
.layout-small {
  --spacing-xl: 96rem; /* largeur max du layout */

  width: 100%;
  max-width: var(--spacing-xl, 80rem);
  margin-inline: auto;
}

/* Liquid */
.liquid {
  --liquid-min-margin: var(--spacing-16, 1rem);
  --liquid-content: var(--spacing-2xl, 98rem);

  display: grid;
  grid-template-columns:
    [liquid-start] minmax(var(--liquid-min-margin), 1fr)
    [content-start] minmax(0, calc(var(--liquid-content) / 2))
    [half] minmax(0, calc(var(--liquid-content) / 2))
    [content-end] minmax(var(--liquid-min-margin), 1fr)
    [liquid-end];

  :where(& > *) {
    grid-column: content;
  }
}

/* Splash et autres enfants de Liquid */
.splash {
  display: grid;
  grid-template-columns: inherit;
  grid-column: liquid;

  :where(& > *) {
    grid-column: content;
  }
}

.splash-start {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: liquid-start / content-end;

  :where(& > *) {
    grid-column: content;
  }
}

.splash-end {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: content-start / liquid-end;

  :where(& > *) {
    grid-column: content;
  }
}

.splash-half-start {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: liquid-start / half;

  :where(& > *) {
    grid-column: content-start / half;
  }
}

.splash-half-end {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: half / liquid-end;

  :where(& > *) {
    grid-column: half / content-end;
  }
}

/* Autogrid */
.autogrid {
  --autogrid-gutter: 1rem; /* gouttière */
  --col-min-size: 20rem; /* taille mini de chaque colonne */
  --grid-fill: auto-fit; /* mode de remplissage */

  display: grid;
  grid-template-columns: repeat(
    var(--grid-fill),
    minmax(min(var(--col-min-size), 100%), 1fr)
  );
  gap: var(--autogrid-gutter);
}

/* Switcher */
.switcher {
  --switcher-gutter: 1rem; /* gouttière */
  --vertical-alignment: flex-start; /* alignement vertical interne */
  --container-min-size: 30rem; /* largeur du conteneur, déterminant le "breakpoint" pour la disposition verticale ou horizontale de enfants */

  display: flex;
  flex-wrap: wrap;
  align-items: var(--vertical-alignment);
  gap: var(--switcher-gutter);

  :where(& > *) {
    flex-grow: 1;
    flex-basis: calc((var(--container-min-size) - 100%) * 999);
  }
}

/* Cluster */
.cluster {
  --cluster-gutter: 1rem; /* gouttière */
  --horizontal-alignment: flex-start; /* alignement horizontal des enfants */
  --vertical-alignment: center; /* alignement vertical des enfants */

  display: flex;
  flex-wrap: wrap;
  align-items: var(--vertical-alignment);
  justify-content: var(--horizontal-alignment);
  gap: var(--cluster-gutter);
}

/* Repel */
.repel {
  --repel-gutter: 1rem; /* gouttière */
  --vertical-alignment: flex-start; /* alignement vertical des enfants */

  display: flex;
  flex-wrap: wrap;
  align-items: var(--vertical-alignment);
  justify-content: space-between;
  gap: var(--repel-gutter);
}

/* Reel */
.reel {
  --reel-gutter: 1rem; /* gouttière */
  --item-size: 35%; /* largeur des enfants (% du conteneur) */

  display: flex;
  max-width: 100%;
  height: auto;
  margin-inline: auto; /* reel est centré horizontalement */
  overflow-x: auto;
  gap: var(--reel-gutter);
  scroll-snap-type: x mandatory; /* scroll-snap sur l'axe x */
  -webkit-overflow-scrolling: touch;

  :where(& > *) {
    flex-shrink: 0;
    flex-basis: var(--item-size);
  }
}

[data-scroll="start"] > * {
  scroll-snap-align: start; /* je cale à gauche */
}

[data-scroll="center"] > * {
  scroll-snap-align: center; /* je cale au centre */
}

[data-scroll="end"] > * {
  scroll-snap-align: end; /* je cale à droite */
}

[data-scrollbar="hidden"] {
  scrollbar-width: none; /* je masque l'ascenseur */

  &::-webkit-scrollbar {
    display: none; /* je masque l'ascenseur sur webkit */
  }
}

/* TwoPanes */
.twopanes {
  --twopanes-gutter: 1rem; /* gouttière */
  --pane-fixed-size: 8rem; /* largeur (fixe) du 1er enfant */
  --pane-min-size: 300px; /* largeur (mini) du 2e enfant */

  display: flex;
  flex-wrap: wrap;
  gap: var(--twopanes-gutter);

  :where(& > :first-child) {
    flex: 1 0 var(--pane-fixed-size);
  }

  :where(& > :last-child) {
    flex: 999 0 min(var(--pane-min-size), 100%);
  }

  /* L'attribut data-direction="rtl" sur le parent inverse l'affichage des deux enfants */
  &[data-direction="rtl"] > :last-child {
    order: -1;
  }
}
